[submodule "blocks/ilios"]
	path = blocks/ilios
	url = git://github.com/ilios/moodle-block-ilios.git
[submodule "local/archiveup"]
	path = local/archiveup
	url = git://github.com/ucsf-ckm/moodle-local-archiveup.git
[submodule "mod/oublog"]
	path = mod/oublog
	url = git://github.com/moodleou/moodle-mod_oublog.git
[submodule "mod/ouwiki"]
	path = mod/ouwiki
	url = git://github.com/moodleou/moodle-mod_ouwiki.git
[submodule "question/type/oumultiresponse"]
	path = question/type/oumultiresponse
	url = git://github.com/moodleou/moodle-qtype_oumultiresponse.git
[submodule "local/staticpage"]
	path = local/staticpage
	url = git://github.com/moodleuulm/moodle-local_staticpage.git
[submodule "mod/certificate"]
	path = mod/certificate
	url = git://github.com/markn86/moodle-mod_certificate.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = git://github.com/remotelearner/moodle-mod_questionnaire.git
