[submodule "availability/condition/mobileapp"]
	path = availability/condition/mobileapp
	url = https://github.com/ucsf-education/moodle-availability_mobileapp
	branch = UCSFCLE_403_STABLE 
[submodule "blocks/massaction"]
	path = blocks/massaction
	url = https://github.com/Syxton/moodle-block_massaction
	branch = MOODLE_403_STABLE
	tag = 7.2.1
[submodule "local/maintenance_livecheck"]
	path = local/maintenance_livecheck
	url = https://github.com/moodleuulm/moodle-local_maintenance_livecheck
[submodule "local/staticpage"]
	path = local/staticpage
	url = https://github.com/moodleuulm/moodle-local_staticpage
	branch = MOODLE_403_STABLE
	tag = v4.3-r1
	branch = UCSFCLE_403_STABLE
[submodule "mod/attendance"]
	path = mod/attendance
	url = https://github.com/danmarsden/moodle-mod_attendance
[submodule "mod/facetoface"]
	path = mod/facetoface
	url = https://github.com/catalyst/moodle-mod_facetoface
	branch = MOODLE_403_STABLE
[submodule "course/format/topcoll"]
	path = course/format/topcoll
	url = https://github.com/gjb2048/moodle-format_topcoll
	branch = MOODLE_403
	tag = V403.1.1
[submodule "mod/zoom"]
	path = mod/zoom
	url = https://github.com/ncstate-delta/moodle-mod_zoom
	branch = main
	tag = v5.2.0